<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <style>
        select, input {
            font-size: 18px;
        }
    </style>
</head>

<body>

    <h1>Привіт! Це Ukrainian Meteoapp. Обирайте необхідні параметри та отримуйте метеодані свого регіону.
    За потреби можете вказати точний день і час даних, які бажаєте отримати.</h1>

    <h2 style="color: red">{{ error }}</h2>
    <form action="/main/show_db/" method="POST">
        {% csrf_token %}

        <h2>Місто:
            <select name="city">
                <option value="0" selected>Київ</option>
                <option value="1">Дніпро</option>
                <option value="2">Донецьк</option>
                <option value="3">Івано-Франківськ</option>
                <option value="4">Харків</option>
                <option value="5">Кривий Ріг</option>
                <option value="6">Луганськ</option>
                <option value="7">Львів</option>
                <option value="8">Одеса</option>
                <option value="9">Сімферополь</option>
            </select>
        </h2>

        <h2>Місяць:
            <select name="id">
                <option value="0" selected>Січень</option>
                <option value="1">Лютий</option>
                <option value="2">Березень</option>
                <option value="3">Квітень</option>
                <option value="4">Травень</option>
                <option value="5">Червень</option>
                <option value="6">Липень</option>
                <option value="7">Серпень</option>
                <option value="8">Вересень</option>
                <option value="9">Жовтень</option>
                <option value="10">Листопад</option>
                <option value="11">Грудень</option>
            </select>
        </h2>

        <h2>День (1,2...):
            <input type="text" name="day" style="width:25px" />
        </h2>

        <h2>Час (0:00-23:30) -
            <input type="text" name="hours" style="width:25px" /> :
            <select name="minutes">
                <option value="00" selected>00</option>
                <option value="30">30</option>
            </select>
        </h2>

        <h2>Мова:
            <select name="lan">
                <option value="0">Російська</option>
                <option value="1" selected>Українська</option>
            </select>
        </h2>

        <h2>Метод інтерполяції:
            <select name="interp_method">
                <option value="linear" selected>Лінійна</option>
                <option value="polynomial">Поліноміальна</option>
                <option value="pad">Pad-інтерполяція</option>
            </select>
        </h2>

        <h2>Значення (2,3...) для нелінійної інтерполяції (порядок - для поліноміальної, або межа - для pad):
            <input type="text" name="interp_value" style="width:40px" />
        </h2>

        <h2><input type="submit" value="Отримати дані" /></h2>

    </form>
</body>
</html>