{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблиця даних за місяць</title>
    <style>
        a {
            color: black;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 10%;
            margin: auto;
        }
        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
        }
        th {
            font-weight: 10;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1><a name="header">{{ city }}. {{ month }}. Таблиця даних за місяць</a></h1>
    <h2><a href={% url 'show_db' %}#t_cond>Температурні умови регіону за визначений місяць</a></h2>
    <h2><a href="{% url 'show_db' %}#t_duration">Тривалість температурних режимів</a></h2>
    <h2><a href="{% url 'show_db' %}#wind_rose">Троянда вітрів</a></h2>
    <h2><a href="{% url 'show_db' %}#w_duration">Тривалість режимів вітрової активності</a></h2>
    <h2><a href="/main/index">Повернутися до головного меню</a></h2>

    <table>
        {% for row in rows %}
            <tr>
                {% for r_item in row %}
                    <th>{{ r_item }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{#    ЛР 2#}

    <br><br><h2><a name="t_cond">Температурні умови регіону</a></h2>
    <img src="{% static 'images/t_cond_diag.png' %}" alt="image">

    <h2><a name="t_duration">Тривалість температурних режимів</a></h2>

    <h3>Таблиця</h3>
    <table>
        <tr>
            <th>Температура</th>
            {% for t_range_item in t_range %}
                <th>{{ t_range_item }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Тривалість</th>
            {% for t_duration_item in t_duration %}
                <th>{{ t_duration_item }}</th>
            {% endfor %}
        </tr>
    </table>

    <h3>Діаграма</h3>
    <img src="{% static 'images/t_duration_diag.png' %}" alt="image">

    <h2><a name="wind_rose">Троянда вітрів</a></h2>
    <img src="{% static 'images/wind_rose.png' %}" alt="image">

    <h2><a name="w_duration">Тривалість режимів вітрової активності</a></h2>
    <img src="{% static 'images/w_duration.png' %}" alt="image">

    <h3><a href={% url 'show_db' %}#header>Вгору</a></h3>
</body>
</html>