<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблиця даних за місяць</title>
    <style>
        a {
            color: black;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 10%;
            margin: auto;
        }
        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
        }
        th {
            font-weight: 10;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1><a name="header">Таблиця даних за місяць</a></h1>

    <h2>Температурні умови регіону</h2>
    <img src="images/t_cond_diag.png" alt="image">

    <h2>Тривалість температурних режимів</h2>
    <img src="images/t_duration_diag.png" alt="image">

    <h2>Троянда вітрів</h2>
    <img src="images/wind_rose.png" alt="image">

    <h2>Тривалість режимів вітрової активності</h2>
    <img src="images/w_duration.png" alt="image">

</body>
</html>