<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблиця даних за місяць</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 10%;
            margin: auto;
        }
        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
        }
        th {
            font-weight: 10;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        import * as main from 'meteoapp/main.py';
        var columns = main.get_columns(wc, ['B', 'C'])
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(columns);
            var options = { title: 'Добыча нефти', hAxis: {title: 'Год'}, vAxis: {title: 'Тыс. тонн'} };
            var chart = new google.visualization.ColumnChart(document.getElementById('oil'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <h1>Метеодані</h1>
    <a href="/main/index" style="color:#000"><h2>Повернутися до головного меню</h2></a>
    <table>
        {% for row in rows %}
            <tr>
                {% for r_item in row %}
                    <th>{{ r_item }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h1>Температурні умови регіону</h1>
    <div id="oil" style="width: 500px; height: 400px;"></div>
</body>
</html>